- greeting = "Hello from unbuffered code"
p= greeting
p!= "<em>Unescaped</em> output"

- x = 10
- y = 32
p Sum: #{x + y}
p Difference: #{x - y}

p= 6 * 7
p= 20 / 4
p= 10 % 3
p= 2 + 3 * 4

-
  a = "multi"
  b = "line"
p= a + " " + b
