p= s.toUpperCase()
p= s.toLowerCase()
p= s.trim()
p= s.slice(0, 5)
p= s.replace("World", "Go-Pug")
p= s.indexOf("World")
p= s.includes("World")
p= s.startsWith("Hello")
p= s.endsWith("!")
p= s.repeat(2)
p= s.length
