- i = 0
- i++
p After i++: #{i}

- i++
- i++
p After two more ++: #{i}

- i--
p After i--: #{i}

- count = 5
ul
  while count > 0
    li Iteration #{count}
    - count--

- score = 0
- score += 10
p Score after += 10: #{score}
- score -= 3
p Score after -= 3: #{score}
